<section class="d-flex min-vh-100 flex-column justify-content-start">
    
<div class="border d-flex align-content-center flex-column">
        <div class="border myfonts p-3 mx-4 mt-5 row">
            <h1>Spencer Williams-Waldemar</h1>
        </div>
        <div class="border myfonts p-1 mx-5 mb-5">
            <h4>Rochester &#10703;&#10704; Minnesota &#10703;&#10704; 507-319-0991 &#10703;&#10704; waldemarspencer@gmail.com</h4>
        </div>
</div>

<div class="row border d-flex">
    <div class="border d-flex">

    </div>

</div>

</section>