<!-- <div class="navbar bg-primary d-lg-none d-flex align-items-center">
    <h3 class="d-none d-sm-block myfonts text-center px-4 text-dark fs-2 ">Spencer Williams</h3>
    <div class="d-flex p-3 align-items-center justify-items-end w-100" id="nav-social-icons">
    <div class="w-100">
        <i class="col-xs-2 fab fa-linkedin-in fa-lg m-2"></i> 
        <i class="col-xs-2 fab fa-github fa-lg m-2"></i>
        <i class="col-xs-2 far fa-address-card fa-lg m-2 "></i>
    </div>
    <div class="col-xs-2">
        <i class="far fa-caret-square-down fa-2x"></i>
    </div>
    </div>
    <nav class="navbar" [hidden]="true">
        <ul class="navbar-nav myfonts w-75 text-center fs-4 text-decoration-none">
            <li class="nav-item mb-3"><a class="active text-light text-decoration-none hvr-underline-from-center" href="#">Landing</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">Education</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">Skills</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">Experience</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">About me</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">Certfications</a></li>
        </ul>
    </nav>
</div> -->

<!-- on medium screens -->
<!-- <div class="navbar bg-primary d-lg-none d-none d-md-block">
  <div class="d-lg-none">
    <nav class="align-items-center justify-content-between d-flex">
        <ul class="nav p-3">
        <li class="nav-item">
          <a href="#" class="nav-link active text-dark myfonts">Resume</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-dark myfonts">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-dark myfonts">Contact me</a>
        </li>
      </ul>
      <ul class="nav p-3 d-flex">
        <a href="#" class="nav-link text-dark myfonts">social</a>
        <a href="#" class="nav-link text-dark myfonts">links</a>
        <a href="#" class="nav-link text-dark myfonts">here</a>
      </ul>
    </nav>
  </div>
</div> -->

<div  class=" d-none d-lg-block min-w-200" id="nav">
    <!-- header  -->
    <div class="w-100">
    <div class="pt-4 px-1 fs-5">
      <!-- <a href="#" class="col-3 text-light fw-light text-center text-decoration-none hvr-underline-from-center fs-6">RESUME</a> -->
      <a href="#" class="myfonts col-6 text-light text-center text-decoration-none hvr-underline-from-center">PORTFOLIO</a>
      <a href="#" class="myfonts col-6 text-light text-center text-decoration-none hvr-underline-from-center text-nowrap">CONTACT ME</a>
    </div>
    </div>
    
            
    <div class="mt-5 mb-5 d-none d-lg-block w-100">
        <div class="d-flex w-100 justify-content-center">
        <img class="w-75 rounded-3" src="../../../assets/images/resume/Profile.jpg" alt="">
        </div>
    </div>

    <nav class="navbar w-100 justify-content-center">
        <ul class="navbar-nav myfonts w-75 text-center fs-5 text-decoration-none">
            <li class="nav-item mb-3"><a class="active text-light text-decoration-none hvr-underline-from-center" href="#">Landing</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">Education</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">Skills</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">Experience</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">About me</a></li>
            <li class="nav-item mb-3"><a class="text-light text-decoration-none hvr-underline-from-center" href="#">Certfications</a></li>
        </ul>
    </nav>

</div>
