<div class="navbar bg-primary d-lg-none">
    <div class="col-10 d-lg-none">
        <h3 class="p-4 myfonts">Spencer Williams</h3>
    </div>
    <div class="col-2 d-lg-none">
        <i class='fas fa-bars fa-3x'>fa-3x</i><br/>
    </div>
</div>


<div  class="col-lg-2 bg-primary min-vh-100 d-none d-lg-block" id="nav">
    <!-- header  -->
    <div class="mb-5 d-none d-lg-block">    
        <h3 class="p-4 myfonts">Spencer Williams</h3>
    </div>
    <div class="m-3 d-none d-lg-block">
        <div class="border border-secondary rounded-circle">
        <img class="rounded-circle h-100 w-100" src="../../../assets/images/resume/Profile.jpg" alt="">
        </div>
    </div>
</div>
